.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.register {
  margin-left: 27%;
}

.container {
  align-items: center;
  display: flex;
  background-color: skyblue;
}
.validproduct {
  color: red;
  display: flex;
  width: 200px;

  font-size: smaller;
}
.logo {
  padding-top: 2px;
  margin: 2px;
  height: 80px;
  width: 60px;
  border: 5px solid black;
  border-radius: 50%;
}
.lidiv li {
  display: inline-block;
  padding: 10px;
  margin-left: 70px;
}
.prodlistcontainer {
  text-align: center; 
  margin-top: 50px; 

}
.prodlistcontainer ul{
  margin: 0;
}
.prodlistcontainer ul li{
  display: inline-block;
  border: 1px solid black;
  padding: 5px;  
  width: 200px;
}
.searchbox{
  width:400px;
  margin:20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}

.btnsignup {
  display: block;
  margin: 1%;
  margin-left: 27%;
  padding: 5px;
  width: 150px;
  border: 2px solid rgb(25, 22, 30);
  border-radius: 15px;
  background-color: #b999af;
}
.signupdiv {
  margin-left: 300px;
}
.inputdata {
  display: block;
  margin: 1%;
  margin-left: 18%;

  padding: 7px;
  width: 300px;
  border: 2px solid rgb(25, 22, 30);
}

.nav-right {
  text-align: right;
  padding: 2px;
  margin: 5px;
}
.logoutname {
  display: inline;
  color: red;
}
.containerprod {
  text-align: center;
  margin-left: 30%;
  
}
.containerprod h2{
  margin-right: 650px;
}
.containerprod input{
  display: block;
  padding: 8px;
  margin-bottom: 22px;
  width: 20rem;
}
.containerprod button {
  display: block;
  margin-left: 13%;
}
.productdiv {
  display: block;
  padding: 20px 45%;
}
.btnproduct {
  display: flex;
  padding: 50px;
  margin-left: 35rem;
}
.btn {
  border: 2px solid rgb(9, 12, 13);
  border-radius: 1cqh;
  background-color: skyblue;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: skyblue;
  width: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
